
body {
    background-color: gray;
    height: 100%;
    width: 100%;
}
h1 {
    color: blue;
    text-align: center;
}
br {
    color:aqua;
}
h2 {
    text-align: left;
}
.myimg {
    text-align: left;
    height: 80px;
    width: 80px;
}
p {
    font-size: 20px;
}
